body {
    font-family:"Montserrat" !important;
    background-color: rgb(255,247,236) !important;
    margin: 0;
    padding: 0;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 0;
}
.logo {
    margin-right: auto;
    height: 50px;

}
html{
    scroll-behavior:smooth;
}





.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}
.header_nav{
    margin-right: auto;
}

.nav_links {
    display: flex;
    gap: 30px; 
    justify-content: center;
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    text-decoration: none;
    color: #8ABE61;  
    font-size: 14px; 
    padding: 10px 30px;

}
.nav_links a.activ{
    font-weight:900;
}

.nav_links a:hover {
    color: rgb(54, 64, 57); 
}



.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    width: 183px !important;
    height: 50px !important;

    text-decoration: none;
    color: white !important;
    background-color: darkgreen !important;
    border-radius: 30px !important;
    font-weight: bold !important;
 
}

.btn:hover {
    background-color: green !important;
}




.welcome{
    background-image: url(fitnesspageimages/fitnessmainphoto.jpg);
    background-size:cover;
    background-position: center;
    padding: 150px 0px ;
}   
.welcome .container {
    color: rgb(1, 28, 1);
    background-color:rgba(31, 244, 255, 0.097);
    border-radius: 100px;
    padding: 80px;
    width: 710px;
    margin-left: 5%;
   
}

.welcome_title {
    font-weight: 700;
    font-size: 50px;

}
.welcome_text {
    margin: 40px 0px;
    font-size: 24px;
}
.welcome .btn{
    background-color: rgb(11, 114, 114);
}
.welcome .btn:hover{
    background-color: rgb(34, 133, 133);

}




.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6E5CE !important;
    width: 370px;
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: #FFC16C !important;
    margin-left: 65px;
    margin-bottom: -65px;
    
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card_body {
    padding: 16px;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_container h3{
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
}
.card .btn{
    background-color: rgb(11, 114, 114) !important;
    margin-top: 0px auto;
}

.card .btn:hover{
    background-color: rgb(34, 133, 133) !important;
}
.card img{
    margin: 17px 17px;
    width: 90%;
    height: 220px;
    border-radius: 20px;
}




.footer {
    background-color:#FFC16C;
    color: white;
    text-align: center;
    


    padding: 5px;
    margin-top: 80px;
    position: relative;
    width: 100%;
    bottom: 0;
}